.Rproj.user
.Rhistory
.RData
.Ruserdata
*.vcf
*.vcf.gz
*.tiff
writing/
**.removed
**.vcfsnp
**.geno
data/hdgbs_snps_maf2_m60.snmf/
**.snmfProject
data/vcf_maf005.Imiss
comp/ref_mismatch.csv
**.xlsx
data/hdgbs_sub_pcascores.csv
**.mean
**.frq
**.lmiss
**.idepth
**.imiss
**.png
pop_gen/*.csv
comp/data/allele_mismatch_imp.csv
comp/data/original_gls.txt
comp/lcwgs_imp.txt
comp/data/allele_frequencies.csv
data/*n453.txt
pop_gen/hdgbs_pcascores.csv
pop_gen/hdgbs_sub_pcascores.csv
lcWGS/stats/ch_lcwgs_covvar.csv
data/pca_m15_maf005.cov
comp/allele_frequencies.csv
data/otsh_Sequence_report.tsv
lcWGS/imputation/diffvcf.diff.sites_in_files
data/test.csv
data/maximum_original_GLs.csv
data/maximum_imputed_GLs.csv
data/imputed_histogram_data.csv
data/original_histogram_data.csv
data/deltaGP.csv
**.eigenval
**.eigenvec
**.raw
**.log
**.nosex
**.in
**.out
**.mafs
**.pdf
scripts
data/lcwgs_samples.txt
comp/freqs.txt
map/hydroRIVERS_data/*
map/hdgbs_freqs.txt
data/pop_frq/*
data/chinook_maf005_8MSNPs.txt
**.grd
**.gri
data/lcwgs_hdgbs_shared_non_pruned.txt