.Rproj.user
.Rhistory
.RData
.Ruserdata
*.vcf
*.vcf.gz
data/*.sites
*.tiff
data/pca/
writing/
**.removed
**.vcfsnp
**.geno
data/shared_samples_n362.csv
**.zscores
data/allele_*.csv
data/indv_clusters.txt
data/chinook_full_sample_info.csv
data/fst/
data/offset/
data/**.txt
data/pcadapt
data/vcfs_n361
data/*pcadapt.csv
data/hdgbs_snps_maf2_m60.snmf/
**.snmfProject
data/vcf_maf005.Imiss
comp/ref_mismatch.csv
**.xlsx
data/pop_map_n361.txt
data/hdgbs_sub_pcascores.csv
analyses/positions.txt
data/vcfs/
**.gtf
**.mean
**.frq
**.lmiss
**.idepth
**.imiss
**.png
pop_gen/*.csv
comp/data/allele_mismatch_imp.csv
comp/data/original_gls.txt
data/snps_ref*.txt
data/*sites.txt
comp/lcwgs_imp.txt
comp/data/allele_frequencies.csv
data/*n453.txt
pop_gen/hdgbs_pcascores.csv
pop_gen/hdgbs_sub_pcascores.csv
lcWGS/stats/ch_lcwgs_covvar.csv
data/pca_m15_maf005.cov
comp/allele_frequencies.csv
data/otsh_Sequence_report.tsv
lcWGS/imputation/diffvcf.diff.sites_in_files
data/test.csv
data/maximum_original_GLs.csv
data/maximum_imputed_GLs.csv
data/imputed_histogram_data.csv
data/original_histogram_data.csv
data/deltaGP.csv
**.eigenval
**.eigenvec
**.raw
**.log
**.nosex
**.in
**.out
**.mafs
**.pdf
scripts
data/lcwgs_samples.txt
comp/freqs.txt
map/hydroRIVERS_data/*
map/hdgbs_freqs.txt
data/pop_frq/*
data/chinook_maf005_8MSNPs.txt
**.grd
**.gri
data/lcwgs_hdgbs_shared_non_pruned.txt
**.rds
data/distances_long.csv
data/Otsh_bioclim.csv
map/dist_mat.txt
map/distances_long.csv
data/ch2023_sequenced_adj.txt
comp/pops.txt
data/GLs/
!plots/raster.png
pop_gen/hdgbs_fst.R
data/shared_snps_135k.txt
data/Otsh_pcnms.csv
comp/outlier_af_comparisons
hdGBS/imputation_comparison/
comp/Otsh28/
data/hdgbs_maf005_fst_matrix.csv
data/landgen_chinook_indvs_corrected.csv
landgen_chinook_indvs_corrected.csv
data/fst_matrix.csv
**.gds
data/ch_bioclim.csv
pop_gen/hdgbs_gds
data/lcwgs_8MSNPs_positions.txt
202425_pop_name_recs.txt
data/*n361.csv
data/*n361_hdgbs.txt
analyses/*keep
data/chinook_lcwgs_maf1_m15_n361_snps.txt
**.snpden
analyses/supp_figs
plots/supp_figs
data/pca_n361
**.tsv
lcwgs.txt
hdgbs.txt
data/genotypes
data/original_histogram_data.csv
